.card {
    margin: auto;
    padding: 1em;
    margin-top: 2em;
    background-color: white;
    text-align: center;
}

#listItems {
    margin: auto;
    width: 24%;
    padding: 1em;
    background-color: white;
    text-align: center;
}
#listItems ul li { display: inline; }